
* {
    overflow: auto;
}

body{
    background-color:  #6C829D;
    font-family: arial;
}

div.contenu {
    /* 
        margin : 60px -> centrale
        margin : verticale harizotale
        margin : haut droit bas gauche
    */
    margin : 40px 8px 40px 8px;
    padding: 0px 8px 20px 8px;
    background-color: white;
 
    box-shadow: 1px 1px 30px ;
    overflow: visible;
}

h1 {
    text-align: center;
    margin-bottom: 12px;
    margin-top: 16px;
}

p.description {
    text-align: center;
    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}

.centre {
    text-align: center;
    width: 100%;

}

p.categorie {
    background-color: black;
    color: white;
    display: inline-block;
    margin-top: -15px;
    margin-bottom: 0;
    padding: 8px 18px;
    font-weight: bold;
    font-size: 16px;
    
}

div.categorie {
    margin-top: 0px;
    margin-bottom: 0;
    overflow: visible;
}

div.separateur {
    background-color: black;
    height: 1px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

table.info {
    position: absolute; 
    bottom:0; 
    width:100%; 
    color:white; 
    background-color:#6C829DC0; 
    height: 50px;
    
}

div.info {
    position: relative;
}

div.info td {
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}

div.info th {
    font-size: 14px;
    vertical-align: bottom;
    padding-bottom: 8px;
}

/* 
astuces : ctrl + espace pour afficher les valeurs disponibles d'un paramètre
display : bloc -> le paragraphe doit utiliser toute la ligne et cela permet d'allerà la ligne suivante
display : inline -> l'élément doit utiliser que l'espace necessaire et permettre aux autres éléments de venir en suite
                    avec inline on controle pas les marges de l'élément
display : inline-bloc -> l'élément utilise que l'espace necessaite et les marges sont controlés


-------------- Les selecteurs -----------------------------

-> le id (#): concerne qu'un seul élément
-> la class (.): peut concerner plusieurs éléments
*/

img.info {
    display: block;
    max-height: 400px;
    object-fit: cover;
    min-height: 200px;
    background-color: lightgray;
}

div.colonne {
    width: 100%;
    margin-top: 20px;
    
}

div.colonne h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid #6C829D;
    padding: 5px;
}

div.colonne1 {
    display: inline-block;
   
    
}

div.detail p {
    border: 1px solid lightgray;
    padding: 8px 0;
    font-size: 14px;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 4px;
}

table.preparation p.numero {
    background-color: #6C829D;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}

table.preparation td {
    vertical-align: top;
}

table.preparation td.preparation_etape {
    font-size: 14px;
    padding-left: 10px;
    padding-bottom: 10px;
}

table.preparation tr {
    height: 40px;
}

/* Styles pour ordinateur */
@media only screen and (min-width: 768px) {
    div.contenu {
        margin: 60px 10% 80px 10%;
        padding: 0 30px 30px 30px;
        min-width: 350px;
    }

    table.info {
        height: 80px;
        
    }

    div.info th {
        font-size: 16px;
    }

    div.info td {
        text-align: center;
    }

    div.colonne {
        width: 45%;
    }
    
    div.colonne1 {
        margin-right: 10px;
        
    }
    
    div.colonne2 {
        float: right;
        
    }

}

@media only screen and (min-width: 768px) {
    div.contenu {
        margin-left: auto;
        margin-right: auto;
        width: 645px;
    }

}

